.CharacterName {
    width: 350px;
    height: 38px;
    margin: 92px 78px 82px 78px;
    font-size: 38px;
}

.Background,
.PlayerName {
    height: 30px;
    margin: 64px 0px 0px 20px;
    font-size: 30px;
}

.ClassAndLevel {
    height: 36px;
    margin: 64px 0px 0px 20px;
    font-size: 30px;
}

.Background {
    height: 36px;
    font-size: 22px;
}

.Class {
    height: 34px;
    font-size: 28px;
}

.Level {
    display: block;
    height: 36px;
    font-size: 36px;
}

.Race,
.Alignment {
    height: 36px;
    margin: 16px 0px 45px 20px;
    font-size: 30px;
}

.Alignment {
    font-size: 22px;
}

.ExperiencePoints {
    height: 30px;
    margin: 16px 0px 45px 20px;
    font-size: 30px;
}

.CastAttributes {
    width: 125px;
    margin-left: 30px;
}

.Strength,
.Dexterity,
.Constitution,
.Intellgence,
.Wisdom,
.Charisma {
    width: 168px;
    height: 145px;
}

.Strength>.Value,
.Dexterity>.Value,
.Constitution>.Value,
.Intellgence>.Value,
.Wisdom>.Value,
.Charisma>.Value {
    display: block;
    margin: 0px 20px 0px 56px;
    padding-top: 32px;
    width: 86px;
    height: 54px;
    font-size: 54px;
}

.Strength>.Modifier,
.Dexterity>.Modifier,
.Constitution>.Modifier,
.Intellgence>.Modifier,
.Wisdom>.Modifier,
.Charisma>.Modifier {
    display: block;
    margin: 12px 44px 2px 74px;
    width: 50px;
    height: 28px;
    font-size: 28px;
}

.Inspiration>div>.Value {
    width: 40px;
    height: 40px;
    margin: 18.5px 191px 24.5px 11px;
    font-size: 36px
}

.ProficiencyBonus>div>.Value {
    display: block;
    width: 48px;
    height: 32px;
    margin: 20px 182px 25px 12px;
    font-size: 32px
}

.SavingThrows>div>ul {
    margin: 22px 0px 40px 0px;
}

.Skills>div>ul {
    margin: 31px 0px 40px 0px;
}

.SavingThrows>div>ul>li,
.Skills>div>ul>li {
    height: 27.2px;
    margin-left: 15px;
}

.SavingThrows>div>ul>li>label,
.Skills>div>ul>li>label {
    display: block;
    margin-left: 8px;
    width: 30px;
}

.PassiveWisdom>div>.Value {
    display: block;
    width: 44px;
    height: 36px;
    margin: 14px 314px 20px 48px;
    font-size: 32px
}

.OtherProficienciesAndLanguage>div>.Content {
    width: 347px;
    height: 264px;
    margin: 18px 9px 50px 46px;
    font-size: 24px;
    text-align: left;
}

.OtherProficienciesAndLanguage>div>.Content>hr {
    margin: 0px;
}

.OtherProficienciesAndLanguage>div>.Content>label {
    display: block;
    width: 348px;
    height: 131px;
}

.OtherProficienciesAndLanguage>div>.Content>button {
    width: 60px;
    height: 24px;
}

.OtherProficienciesAndLanguage>div>.Content>.AddProficiencies {
    right: 20px;
    bottom: 188px;
}

.OtherProficienciesAndLanguage>div>.Content>.AddLanguage {
    right: 20px;
    bottom: 55px;
}

.ArmorClass {
    display: block;
    width: 58px;
    height: 50px;
    margin: 45px 27px 45px 45px;
    font-size: 48px
}

.Initiative {
    display: block;
    width: 84px;
    height: 64px;
    margin: 44px 12px 30px 16px;
    font-size: 64px
}

.Speed {
    display: block;
    width: 84px;
    height: 64px;
    margin: 44px 12px 30px 22px;
    font-size: 64px
}

.HitPointMaximum {
    display: block;
    width: 185px;
    height: 20px;
    margin: 0px 40px 5px 160px;
    padding-top: 15px;
}

.CurrentHitPoints {
    display: block;
    width: 320px;
    height: 70px;
    margin: 5px 34px 17px 32px;
    font-size: 70px
}

.TemporaryHitPoints {
    display: block;
    width: 320px;
    height: 70px;
    margin: 0 34px 29px 32px;
    padding-top: 13px;
    font-size: 70px
}

.TotalHitDice {
    display: block;
    width: 104px;
    height: 15px;
    margin: 0 18.5px 5px 70px;
    padding-top: 19px;
    font-size: 15px
}

.HitDice {
    display: block;
    width: 136px;
    height: 48px;
    margin: 0 18.5px 27px 38px;
    font-size: 48px
}

.Successes {
    width: 80px;
    height: 22px;
    margin: 0px 36.5px 5px 76px;
    padding-top: 21px;
}

.Failures {
    width: 80px;
    height: 22px;
    margin: 0px 35.5px 5px 77px;
    padding-top: 4px;
}

.Successes>input, .Failures>input {
    width: 15px;
    height: 15px;
    margin-left: 3.5px;
}

.AttackAndSpellCasting>div>ul {
    padding-top: 27px;
}

.AttackAndSpellCasting>div>ul>li {
    height: 41px;
}

.AttackAndSpellCasting>div>ul>li>.Name {
    display: block;
    width: 128px;
    height: 20px;
    margin: 10px 5px 11px 25px;
    font-size: 20px
}

.AttackAndSpellCasting>div>ul>li>.AtkBonus {
    display: block;
    width: 62px;
    height: 20px;
    margin: 10px 5px 11px 5px;
    font-size: 20px
}

.AttackAndSpellCasting>div>ul>li>.Damage {
    display: block;
    width: 124px;
    height: 18px;
    margin: 11px 26px 12px 5px;
    font-size: 18px
}
