.SheetHeader {}

.SheetContainer {
    width: 100%;
}

.AttributesAndProficienciesAndLanguage {
    width: 34.14%;
}

.AttributesAndProficiencies {
    height: 100%;
}

.Attributes {
    width: 41.12%;
}

.Proficiencies {
    width: 58.88%;
}

.Inspiration {}

.ProficiencyBonus {}

.SavingThrows {}

.Skills {}

.PassiveWisdom {
    width: 100%;
}

.OtherProficienciesAndLanguage {
    width: 100%;
}

.HitPointAndAttackAndEquipment {
    width: 32.07%;
}

.HitPointAndOther {}

.AttackAndSpellCasting {}

.Equipment {}

.CharacteristicsAndFeatureAndTraits {
    width: 33.78%;
}

.Characteristics {}

.FeatureAndTraits {}